![title](moto.png)

## Links to the data we use in this research

- World Bank Open Data, Population total : https://data.worldbank.org/indicator/SP.POP.TOTL?utm_source=chatgpt.com
- World Bank Open Data, Labor Force Participation Rate by Gender : https://genderdata.worldbank.org/en/indicator/sl-tlf-acti-zs?utm_source=chatgpt.com
- World Bank Open Data, Ration of female to male labour forcce participation rate : https://data.worldbank.org/indicator/SL.TLF.CACT.FM.ZS?end=2023&most_recent_value_desc=true&start=2023&type=shaded&utm_source=chatgpt.com&view=map&year=2023
- World Bank Open Data, Population number : https://genderdata.worldbank.org/en/indicator/sp-pop?utm_source=chatgpt.com
- Eurostat, Population by sex, age, citizenship and labour status : https://ec.europa.eu/eurostat/databrowser/view/lfsa_pganws/default/table?lang=en&category=mi.mii.mii_emp

## Code work ahead!
yeah, I sure hope it does

In [24]:
import pandas as pd

In [50]:
# let's load data from the second link
df_labour = pd.read_csv("data/labor-force-participation-rate-of-population/Labor force participation rate (% of population) .csv")

df_labour.head()

,Indicator Name,Indicator Code,Country Name,Country Code,Year,Value,Disaggregation
0,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,Africa Eastern and Southern,AFE,2023,64.487,"female, Modeled, 15+"
1,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,Africa Eastern and Southern,AFE,2022,64.218,"female, Modeled, 15+"
2,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,Africa Eastern and Southern,AFE,2021,64.059,"female, Modeled, 15+"
3,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,Africa Eastern and Southern,AFE,2020,63.535,"female, Modeled, 15+"
4,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.ZS,Africa Eastern and Southern,AFE,2019,64.309,"female, Modeled, 15+"

In [51]:
# let's load data from the third link
df_f2mratio = pd.read_csv("data/API_SL/Ratio of female to male labor force participation rate.csv")

df_f2mratio.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Ratio of female to male labor force participat...,SL.TLF.CACT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Ratio of female to male labor force participat...,SL.TLF.CACT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.303943,84.975700,84.636705,84.224640,83.843562,83.224101,83.484320,83.462266,86.178096,NaN
2,Afghanistan,AFG,Ratio of female to male labor force participat...,SL.TLF.CACT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,25.379774,27.105606,28.936935,27.751625,26.375400,24.678652,21.795863,7.346387,7.339854,NaN
3,Africa Western and Central,AFW,Ratio of female to male labor force participat...,SL.TLF.CACT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.692845,85.286540,85.112944,84.947476,84.856368,84.327709,84.850259,84.750611,87.753791,NaN
4,Angola,AGO,Ratio of female to male labor force participat...,SL.TLF.CACT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,94.113828,94.228507,94.345269,94.467953,94.594069,94.673470,95.603481,93.617593,93.402725,NaN

In [52]:
# let's load data from the fourth link
df_population = pd.read_csv("data/population-number/Population (number).csv")
df_population.head()

,Indicator Name,Indicator Code,Country Name,Country Code,Year,Value,Disaggregation
0,"Population, female",SP.POP.TOTL.FE.IN,Africa Eastern and Southern,AFE,2023,379025748.0,"female, All ages"
1,"Population, female",SP.POP.TOTL.FE.IN,Africa Eastern and Southern,AFE,2022,369655503.0,"female, All ages"
2,"Population, female",SP.POP.TOTL.FE.IN,Africa Eastern and Southern,AFE,2021,360249371.0,"female, All ages"
3,"Population, female",SP.POP.TOTL.FE.IN,Africa Eastern and Southern,AFE,2020,350869705.0,"female, All ages"
4,"Population, female",SP.POP.TOTL.FE.IN,Africa Eastern and Southern,AFE,2019,341569862.0,"female, All ages"

In [53]:
# let's load data from the fifth link
df_EU = pd.read_csv('data/EU-employment of migrats.tsv',sep='\t')
df_EU.head()

,"freq,unit,sex,citizen,age,wstatus,geo\TIME_PERIOD",1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"A,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT",: u,: u,: u,: u,: u,: u,: u,: u,: u,...,3.5 u,: u,3.2 u,: u,3.3 u,4.3 u,4.2 u,4.2 bu,5.7 u,5.6 u
1,"A,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,BE",: u,: u,: u,: u,: bu,: u,:,: u,: u,...,: u,: u,: u,: bu,: u,2.3 u,: u,: bu,: u,: u
2,"A,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CH",:,10.3,15.1,15.3,15.7,10.5,8.1 u,10.2,9.1,...,8.5,9.3,10.2,11.5,12.9,11.2,12.2,11.1 b,9.7,11.9
3,"A,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CY",:,:,:,:,: u,: u,: u,: u,: u,...,: u,: u,: u,0.7 u,: u,: u,: u,: bu,: u,0.6 u
4,"A,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CZ",:,:,:,: u,: u,:,: u,:,: u,...,:,: u,: u,:,: u,: u,: u,: bu,: u,:

## let's check if countries match in one and the other table(it's the same number of them and every is represented in both data frames)

In [54]:
set1 = set(df_population['Country Code'])
set2 = set(df_labour['Country Code'])

diff_population = set1 - set2
diff_labour = set2 - set1

diff_population # it shows countries that have data about population, but no about labour force participation

{'MAF', 'SXM'}

## we also need to download some data from US bureau of labour statistics

In [82]:
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium import webdriver
from bs4 import BeautifulSoup
import codecs
import re
import os

In [83]:
url = 'https://www.bls.gov/opub/reports/race-and-ethnicity/2021/?utm_source=chatgpt.com'

In [96]:
service = Service('./chromedriver')
driver = webdriver.Chrome(service=service)

wait = WebDriverWait(driver, 10)

######### for online parsing ###############

# driver.get(url) 

############################################

######### for offline parsing #############

file_path = os.path.abspath("/Users/egorka/Downloads/Labor force characteristics by race and ethnicity, 2021 : BLS Reports: U.S. Bureau of Labor Statisti.html")
url = f"file://{file_path}"

driver.get(url) 

###########################################

get_url = driver.current_url

# wait.until(EC.url_to_be(url))

if get_url == url:
    page_source = driver.page_source


table4 = WebDriverWait(driver, 10).until (
    EC.presence_of_element_located((By.ID,'cps_rer_lfpr_hist'))
)

table4.click()
for subheader in table4.find_element(By.TAG_NAME, 'thead').find_elements(By.TAG_NAME,'tr'):
    for title in subheader.find_element(By.TAG_NAME,'th'):
        print(title.text)

Year
Total
White
Black or African American
Asian
Hispanic or Latino ethnicity
Total
Men
Women
Total
Men
Women
Total
Men
Women
Total
Men
Women
Total
Men
Women